.loading-bin {
	height: 100%;
	width: 100%;
	font-size: 100%;
	justify-items: center;
	align-content: center;
}

.loading-text-bin {
	width: fit-content;
}

.loading-text {
	color: aliceblue;
	font-size: 2em;
	font-weight: 700;
	overflow: hidden;
	width: fit-content;
	white-space: nowrap;
	animation-name: loadingdots;
	animation-duration: 0.2s;
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
}

@keyframes loadingdots {
	from {
		width: 65%;
	}
	to {
		width: 100%;
	}
}

.loading-animation {
	height: 5em;
	width: 5em;
	animation-name: spin;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
