:root {
	--btn-height: 80%;
	--btn-width: 85%;
	--btn-radius: 15px;
	--btn-weight: 800;
	--btn-fontsize: 1.6em;
}

.navi-bin {
	height: 100%;
	width: 100%;
	justify-items: center;
	align-content: center;
}

.navi-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkslategrey;
	border-style: inset;
	border-width: 6px;
	border-radius: 8px;
	width: 80%;
	height: 45%;
}

.navi-header {
	margin: 0 0 1%;
	height: fit-content;
	width: fit-content;
	border-style: outset;
	border-width: 4px;
	border-radius: 8px;
	background-color: darkslategrey;
	color: aliceblue;
	font-style: oblique;
	font-size: 1.5em;
}

.rawData {
	height: var(--btn-height);
	width: var(--btn-width);
	border-radius: var(--btn-radius);
	background-color: lightgreen;
	font-weight: var(--btn-weight);
	font-size: var(--btn-fontsize);
	color: darkgreen;
	cursor: pointer;
}

.rawData:hover {
	background-color: greenyellow;
}

.hub {
	height: var(--btn-height);
	width: var(--btn-width);
	border-radius: var(--btn-radius);
	background-color: lightcoral;
	font-weight: var(--btn-weight);
	font-size: var(--btn-fontsize);
	cursor: pointer;
}

.hub:hover {
	background-color: coral;
}
