:root {
	--btn-width: 85%;
	--btn-radius: 15px;
	--btn-weight: 800;
	--btn-fontsize: 30px;
}

.navi-bin {
	display: grid;
	grid-template-rows: 20% 70%;
	height: 100%;
	width: 100%;
	justify-items: center;
}

.navi-box {
	display: grid;
	grid-template-rows: 40% 40%;
	gap: 5% 5%;
	align-content: center;
	justify-items: center;
	background-color: darkslategrey;
	border-style: inset;
	border-width: 6px;
	border-radius: 8px;
	width: 85%;
}

.navi-header {
	margin: 0%;
	justify-self: center;
	height: fit-content;
	width: fit-content;
	border-style: outset;
	border-width: 4px;
	border-radius: 8px;
	background-color: darkslategrey;
	color: aliceblue;
	font-style: oblique;
	font-size: em;
}

.search {
	width: var(--btn-width);
	border-radius: var(--btn-radius);
	background-color: aquamarine;
	font-weight: var(--btn-weight);
	font-size: var(--btn-fontsize);
	color: darkcyan;
}

.rawdata {
	width: var(--btn-width);
	border-radius: var(--btn-radius);
	background-color: lightgreen;
	font-weight: var(--btn-weight);
	font-size: var(--btn-fontsize);
	color: darkgreen;
}

.hub {
	width: var(--btn-width);
	border-radius: var(--btn-radius);
	background-color: mediumvioletred;
	font-weight: var(--btn-weight);
	font-size: var(--btn-fontsize);
}
